<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>


<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="..//assets/images/head1.jpg"
          alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left"></div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="second-slide" src="..//assets/images/head2.jpg"
          alt="Second slide">
        <div class="container">
          <div class="carousel-caption"></div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="third-slide" src="..//assets/images/head3.jpg"
          alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-right"></div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="..//assets/images/Soc.png" alt="Generic placeholder image" width="140" height="140">

          <h5>คณะสังคมศาสตร์ มหาวิทยาลัยเชียงใหม่</h5><a href="http://soc.cmu.ac.th/" class="btn btn-default">Go to SOC</a>
            <p>239 ถ.ห้วยแก้ว ต.สุเทพ อ.เมือง จ.เชียงใหม่ 50200</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="..//assets/images/CESD.jpg" alt="Generic placeholder image" width="140" height="140">

          <h5>ศูนย์ศึกษาชาติพันธุ์และการพัฒนา</h5><a href="http://www.cesd.soc.cmu.ac.th/" class="btn btn-default">Go to CESD</a>
          <p>ชั้น 4 อาคารปฏิบัติการ คณะสังคมศาสตร์ มหาวิทยาลัยเชียงใหม่ 239 ถ.ห้วยแก้ว ต.สุเทพ อ.เมือง จ.เชียงใหม่ 50200</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="..//assets/images/phone.png" alt="Generic placeholder image" width="140" height="140">
          <h5>ช่องทางติดต่อ</h5><a href="https://www.facebook.com/cesdcmu2018/" class="btn btn-default">Go to FaceBook</a>
          <p>Facebook: ศูนย์ศึกษาชาติพันธุ์ฯ มช. เบอร์โทรศัพท์ 053-9435499</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <app-shoppingcart [name]="CartData" [percent]="tax" (grandtotal)="getTotal($event)"></app-shoppingcart >


      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2018 Example, SOC. &middot; <a href="#">CESD BOOK</a> &middot; <a href="#">HOME</a></p>
    </footer>

</main>
