<div *ngFor="let shop of name;index as i">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{shop.title}}</h2>
      <p class="lead">{{shop.body}}</p>
      <div>
        <div class="row">
          <div class="col-md-2">
            <h3>Price <span class="badge badge-secondary">{{shop.price}}</span></h3>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" (click)="plus(i)">Add</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger" (click)="minus(i)">Remove</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger" (click)="delete(i)">Clear</button>
          </div>
          <div class="col-md-4">
            <h3>Total <span class="badge badge-secondary">{{quant[i]}}</span></h3>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{{shop.image}}" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
</div>
<h1><MARQUEE behavior=alternate direction=left scrollAmount=3 width="10%"><font face=Webdings>4</font><</MARQUEE><MARQUEE scrollAmount=1 direction=left width="2%">| | | | | | | | |</MARQUEE>รวมราคาหนังสือทั้งหมด<MARQUEE scrollAmount=1 direction=right width="2%">| | | | | | | | |</MARQUEE><MARQUEE behavior=alternate direction=right scrollAmount=3 width="10%"><font face=Webdings>3</font></MARQUEE></h1><hr>

<div class="row featurette">
  <div class="col-md-4">
    <h2>Price(ราคา) <span class="badge badge-secondary">{{amount}}</span></h2>
  </div>
  <div class="col-md-4">
    <h2>Tax(ภาษี) <span class="badge badge-secondary">{{cgst}}</span></h2>
  </div>
  <div class="col-md-4">
    <h2>Total(รวม) <span class="badge badge-secondary">{{bill}}</span></h2>
    <div class="col-md-2">
        <button type="button" class="btn btn-danger" (click)="delete(i)"><h2>Clear</h2></button>
      </div>
  </div>

</div>
<hr>
